<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Designer.Interfaces" version="1.1.4323" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.8.2" targetFramework="net461" />
</packages>